<div class="card">
  <div class="card-body">
    <button class="btn btn-outline-success text-bg-secondary m-2">
      Pages : {{this.appState.stateProduct.totalPages}}
    </button>
    <button class="btn btn-outline-success text-bg-secondary m-2">
      Size : {{this.appState.stateProduct.pageSize}}
    </button>
    <button class="btn btn-outline-success text-bg-secondary m-2">
      Total : {{this.appState.stateProduct.total}}
    </button>
    <button class="btn btn-outline-success text-bg-secondary m-2">
      Checked : {{this.appState.stateProduct.checked}}
    </button>
  </div>
</div>
